<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Operateur </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new Operateur</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let p of listOperateurs'>
        <td>{{p.idOperateur}}</td>
        <td>{{p.nom}}</td>
        <td>{{p.prenom}}</td>
        <td>{{p.password}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary"
                  (click)="open(mymodal1,p)">Edit
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline-danger"
                  (click)="deleteOperateur(p.idOperateur)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Operateur</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nom">Nom</label>
        <div class="input-group">
          <input id="nom" class="form-control" type="text" placeholder="Nom"
                 [(ngModel)]="operateur.nom"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="pnom">Prénom</label>
        <div class="input-group">
          <input id="pnom" class="form-control" type="text" placeholder="Prenom"
                 [(ngModel)]="operateur.prenom"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="pwd">Password</label>
        <div class="input-group">
          <input id="pwd" class="form-control" type="text" placeholder="Nom"
                 [(ngModel)]="operateur.password"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addOperateur(operateur)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>


