<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Facture </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Add new Facture</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Montant Remise</th>
        <th>Montant Facture</th>
        <th>Date Creation Facture</th>
        <th>Date Derniere Modification Facture</th>
        <th>Archivée</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let p of listFactures'>
        <td>{{p.idFacture}}</td>
        <td>{{p.montantRemise}}</td>
        <td>{{p.montantFacture}}</td>
        <td>{{p.dateCreationFacture}}</td>
        <td>{{p.dateDerniereModificationFacture}}</td>
        <td>{{p.archivee}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Facture</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Montant Remise</label>
        <div class="input-group">
          <input id="mr" class="form-control" type="number" placeholder="Montant Remise"
                 [(ngModel)]="facture.montantRemise"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="mf">Montant Facture</label>
        <div class="input-group">
          <input id="mf" class="form-control" type="number" placeholder="Montant Facture"
                 [(ngModel)]="facture.montantFacture"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="cdate">Date Creation</label>
        <div class="input-group">
          <input id="cdate" class="form-control" type="date" placeholder="Creation Date"
                 [(ngModel)]="facture.dateCreationFacture"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="mdate">Date Modif</label>
        <div class="input-group">
          <input id="mdate" class="form-control" type="date" placeholder="Modif Date"
                 [(ngModel)]="facture.dateDerniereModificationFacture"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="archiv">Archivée</label>
        <div class="input-group">
          <select id="archiv" class="form-select" aria-label="Default select example" [(ngModel)]="facture.archivee" name="hi">
            <option value="True">Oui</option>
            <option value="False">Non</option>
          </select>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addFacture(facture)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>


